@import url(/css/fonts/persian-fonts/iransans/IranSans.css);

:root {
  --color-primary: #000000;
  --color-secendary: #757575;
  --color-accent: #2584ff;
  --color-headings: #151515;
  --color-body: #3c415c;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
  direction: rtl;
}

body {
  font-family: IRANSans, Inter, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.68;
  color: var(--color-body);
}

h1,
h2,
h3,
h4 {
  color: var(--color-headings);
  margin-bottom: 0;
}

h1 {
  /* 1 x font size of the html element */
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-top: 0;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }

  h4 {
    font-size: 2.8rem;
  }
}

/* Links */

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: ">>";
  margin-right: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-right: 10px;
}

.link-classification {
  background-color: #151515;
  color: #fff;
  padding: 0.5rem 2rem;
  font-weight: normal;
  white-space: nowrap;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }

  .link-classification {
    font-size: 1.6rem;
  }
}
/* Badges */

.badge {
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  white-space: nowrap;
  color: #fff;
}

.badge--primary {
  background: var(--color-primary);
}

.badge--secondary {
  background: var(--color-secendary);
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024) {
  .badge {
    font-size: 1.6rem;
  }

  .badge--small {
    font-size: 1.4rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding-left: 0;
  color: var(--color-headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-left: 2rem;
}

.list--tick {
  list-style-image: url(/css/images/tick.svg);
  /* padding-right: 3rem; */
}

.list--tick .list__item {
  padding-right: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-right: 0;
  }
}

/* Icons */

.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* Buttons */

.btn {
  /* font-size: 1.8rem; */
  /* padding: 2rem 3rem; */
  /* text-transform: uppercase; */
  align-items: center;
  border-radius: 100%;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  font-weight: bold;
  height: 64px;
  justify-content: center;
  margin: 1rem 0;
  /* text-align: center; */
  white-space: nowrap;
  width: 64px;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: var(--color-secendary);
}

.btn--secondary {
  background: var(--color-secendary);
  color: #fff;
}

.btn--secondary:hover {
  background: #fd4516;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #00c8eb;
}

.btn--block {
  width: 100%;
  /* display: inline-block; */
}

.btn--outline {
  background: #fff;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.btn--outline:hover {
  background: var(--color-primary);
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .brn {
    font-size: 1.5rem;
  }
}
