<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">دیجی‌تاورس</h2>
    <p>
      دیجی‌تاورس مجله‌ای در حوزه متاورس، هوش مصنوعی، کلان داده، داده کاوی،
      پایگاه داده، پرینتر سه بعدی و رباتیک به طور خاص بوده، و دنیای دیجیتال را
      در آینده‌ای نزدیک به تصویر می‌کشد
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">دیجی‌تاورس</h2>
    <p>
      دیجی‌تاورس مجله‌ای در حوزه متاورس، هوش مصنوعی، کلان داده، داده کاوی،
      پایگاه داده، پرینتر سه بعدی و رباتیک به طور خاص بوده، و دنیای دیجیتال را
      در آینده‌ای نزدیک به تصویر می‌کشد
    </p>
  </div>
</section>
