<section class="block container block-domain">
  <header class="block__header">
    <h2>هم‌اکنون مشترک یکساله شوید</h2>
    <p>
      اگر میخواهید از دیگران عقب نمانید، همین امروز مجله دیجی‌تاورس را برای خود
      کنید
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="عبارت مورد نظر خود را جست‌جو کنید ..."
    />
    <button class="btn btn--rectangle btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="css/images/sprite.svg#search"></use></svg
      >بگرد
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>
      <span class="badge badge--primary">ماهانه 20</span>
    </li>
    <li>شش ماهه 100</li>
    <li>سه ماهه 80</li>
    <li>نه ماهه 120</li>
    <li>یکساله 300</li>
    <li>دو ساله 700</li>
  </ul>
</section>
