<section class="block container">
  <header class="block__header">
    <h2>جلوتر از سایرین حرکت کنید</h2>
    <p>برای کسب و کار خود سرمایه گذاری کنید</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="css/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">نسخه کاغذی</h3>
      <p>با خرید نسخه کاغذی، طعم مطالعه را مثل یک حرفه‌ای تجربه کنید</p>
      <a href="#" class="link-arrow">بیشتر بدانید</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/css/images/easy.webp 1x, /css/images/easy@2x.webp 2x" />
      <source
        type="image/jpg"
        srcset="/css/images/easy.jpg 1x, /css/images/easy@2x.jpg 2x" />
      <img class="feature__image" src="/css/images/easy@2x.JPG" alt=""
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="css/images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">نسخه کاغذی</h3>
      <p>با خرید نسخه کاغذی، طعم مطالعه را مثل یک حرفه‌ای تجربه کنید</p>
      <a href="#" class="link-arrow">بیشتر بدانید</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/css/images/easy.webp 1x, /css/images/easy@2x.webp 2x" />
      <source
        type="image/jpg"
        srcset="/css/images/easy.jpg 1x, /css/images/easy@2x.jpg 2x" />
      <img class="feature__image" src="/css/images/easy@2x.JPG" alt=""
    /></picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="css/images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">نسخه کاغذی</h3>
      <p>با خرید نسخه کاغذی، طعم مطالعه را مثل یک حرفه‌ای تجربه کنید</p>
      <a href="#" class="link-arrow">بیشتر بدانید</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="/css/images/easy.webp 1x, /css/images/easy@2x.webp 2x" />
      <source
        type="image/jpg"
        srcset="/css/images/easy.jpg 1x, /css/images/easy@2x.jpg 2x" />
      <img class="feature__image" src="/css/images/easy@2x.JPG" alt=""
    /></picture>
  </article>
</section>
