<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded foooter__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">هوش مصنوعی</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="css/images/sprite.svg#line"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">نقشه راه هوش مصنوعی</a></li>
          <li><a href="#">آخرین اخبار هوش مصنوعی</a></li>
          <li><a href="#">آموزش هوش مصنوعی</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible foooter__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">متاورس</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="css/images/sprite.svg#line"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">نقشه راه هوش مصنوعی</a></li>
          <li><a href="#">آخرین اخبار هوش مصنوعی</a></li>
          <li><a href="#">آموزش هوش مصنوعی</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible foooter__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">داده‌کاوی</h2>
        <svg class="icon icon--primary collapsible__chevron">
          <use xlink:href="css/images/sprite.svg#line"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">نقشه راه هوش مصنوعی</a></li>
          <li><a href="#">آخرین اخبار هوش مصنوعی</a></li>
          <li><a href="#">آموزش هوش مصنوعی</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="/css/images/LogoWeb.png" alt="" />
      <p class="footer__copyright">حق کپی رایت محفوظ است</p>
    </section>
  </div>
</footer>
<script src="/js/main.js"></script>
