<section class="block block--dark block--skewed-left hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">مجله دیجی‌تاورس</h1>
      <p class="hero__tagline">آینده را همین امروز ببینید</p>
      <a href="" class="btn btn--block btn--accent btn--stretch">خرید اشتراک</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="/css/images/banner.webp 1x, /css/images/banner@2x.webp 2x" />
      <source
        type="image/png"
        srcset="/css/images/banner.png 1x, /css/images/banner@2x.png 2x" />
      <img class="hero__image" src="/css/images/banner.png" alt=""
    /></picture>
  </div>
</section>
