<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="css/images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">اگر میخواهید به روز باشید</h3>
    <p>
      هنگامی که راه‌حل‌هایی برای کاهش تهدیدات تعریف کردید، دارایی‌ها را دومرتبه
      ارزیابی کنید و تهدیداتی که ممکن است هنوز وجود داشته باشند، اما کشف
      نشده‌اند را شناسایی کنید. تهدیدهای باقی مانده به عنوان ریسک باقیمانده
      شناخته می‌شوند. بررسی این ریسک‌های باقیمانده برای مدیریت بسیار مهم...
    </p>
  </div>
</div>
