<nav class="nav collapsible">
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="css/images/sprite.svg#menu"></use>
  </svg>
  <a class="nav__link" href="/"
    ><img class="nav__logo" src="/css/images/LogoWeb.png" alt="website logo"
  /></a>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">موضوعات</a></li>
    <li class="nav__item"><a href="#">درباره ما</a></li>
    <li class="nav__item"><a href="#">تماس با ما</a></li>
    <li class="nav__item"><a href="#">خرید اشتراک</a></li>
  </ul>
</nav>
<script src="/js/main.js"></script>
