<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">نسخه کاغذی</h3>
          <span class="plan__price">420</span>
          <span class="plan__des">هزار تومان</span>
          <span class="plan__billing-cycle">سالانه</span>
          <span class="badge badge--secondary badge--small">10 درصد تخفیف</span>
          <span class="plan__description">مناسب برای آرشیو لوکس</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">مجله را لمس کنید</li>
            <li class="list__item">آن را به دیگران هدیه بدهید</li>
            <li class="list__item">آرشیو کتابخانه خود را تخصصی کنید</li>
          </ul>
          <button class="btn btn--outline btn--block">
            همین الان خریداری کنید
          </button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">نسخه کاغذی</h3>
          <span class="plan__price">420</span>
          <span class="plan__des">هزار تومان</span>
          <span class="plan__billing-cycle">سالانه</span>
          <span class="badge badge--primary badge--small">10 درصد تخفیف</span>
          <span class="plan__description">مناسب برای آرشیو لوکس</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">مجله را لمس کنید</li>
            <li class="list__item">آن را به دیگران هدیه بدهید</li>
            <li class="list__item">آرشیو کتابخانه خود را تخصصی کنید</li>
          </ul>
          <button class="btn btn--outline btn--block">
            همین الان خریداری کنید
          </button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">نسخه کاغذی</h3>
          <span class="plan__price">420</span>
          <span class="plan__des">هزار تومان</span>
          <span class="plan__billing-cycle">سالانه</span>
          <span class="badge badge--secondary badge--small">10 درصد تخفیف</span>
          <span class="plan__description">مناسب برای آرشیو لوکس</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">مجله را لمس کنید</li>
            <li class="list__item">آن را به دیگران هدیه بدهید</li>
            <li class="list__item">آرشیو کتابخانه خود را تخصصی کنید</li>
          </ul>
          <button class="btn btn--outline btn--block">
            همین الان خریداری کنید
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
