<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>دسترسی آسان به موضوعات</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="/css/images/ipad.webp 1x, /css/images/ipad@2x.webp 2x" />
      <source
        type="image/PNG"
        srcset="/css/images/ipad.PNG 1x, /css/images/ipad@2x.PNG 2x" />
      <img src="css/images/ipad.PNG" alt=""
    /></picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="css/images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">اگر میخواهید به روز باشید</h3>
            <p>
              هنگامی که راه‌حل‌هایی برای کاهش تهدیدات تعریف کردید، دارایی‌ها را
              دومرتبه ارزیابی کنید و تهدیداتی که ممکن است هنوز وجود داشته باشند،
              اما کشف نشده‌اند را شناسایی کنید. تهدیدهای باقی مانده به عنوان
              ریسک باقیمانده شناخته می‌شوند. بررسی این ریسک‌های باقیمانده برای
              مدیریت بسیار مهم...
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="css/images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">اگر میخواهید به روز باشید</h3>
            <p>
              هنگامی که راه‌حل‌هایی برای کاهش تهدیدات تعریف کردید، دارایی‌ها را
              دومرتبه ارزیابی کنید و تهدیداتی که ممکن است هنوز وجود داشته باشند،
              اما کشف نشده‌اند را شناسایی کنید. تهدیدهای باقی مانده به عنوان
              ریسک باقیمانده شناخته می‌شوند. بررسی این ریسک‌های باقیمانده برای
              مدیریت بسیار مهم...
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="css/images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">اگر میخواهید به روز باشید</h3>
            <p>
              هنگامی که راه‌حل‌هایی برای کاهش تهدیدات تعریف کردید، دارایی‌ها را
              دومرتبه ارزیابی کنید و تهدیداتی که ممکن است هنوز وجود داشته باشند،
              اما کشف نشده‌اند را شناسایی کنید. تهدیدهای باقی مانده به عنوان
              ریسک باقیمانده شناخته می‌شوند. بررسی این ریسک‌های باقیمانده برای
              مدیریت بسیار مهم...
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
