<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/css/images/testimonial.jpg" alt="A happy, smiling customer" />
      <span class="icon-container">
        <svg class="icon icon--primary icon--small">
          <use xlink:href="css/images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        دنیای دوربین این شماره جمع‌وجور‌تر از شماره‌های قبل است. به دو مورد از
        تحقیقات محققان دانشگاه اِم‌آی‌تی اشاره خواهیم کرد. نخست به یک قالی
        هوشمند می‌پردازیم که بدون نیاز به چشم می‌بیند. البته برای کسب این
        توانایی، جهان را به او نشان داده‌اند تا یاد بگیرد. بعد از آن، به یک
        روش...
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="css/images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">سیدمحمدجواد مدنی</h3>
            <p class="qoute__organization">مدیرعامل مجله دیجی‌تاورس</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
